@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

main {
  display: flex;
  width: 100vw;
  height: 90vh;
  background-color: var(--brancoEscuro);
}

#propaganda {
  background-color: var(--brancoEscuro);
  width: 50vw;
  height: 40vw;
  color: var(--cinza);
  padding: 5%;
}

#propaganda h2 {
  margin-top: 5vh;
  font-weight: 700;
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  color: var(--verdeClaro);
}

#propaganda p {
  margin-top: 10vh;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}

#formulario {
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
}

.card {
  margin-top: 8vh;
  height: 70vh;
  width: 31vw;
  border-radius: 13%;
  background-color: var(--verdeClaro);
  box-shadow: 0px 10px 40px -12px var(--cinza);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--cinzaEscuro);
}

form {
  width: 22vw;
  display: flex;
  flex-direction: column;
}

.card h3 {
  font-weight: 700;
  font-size: 2.3em;
  margin-bottom: 5vh;
}

#valor {
  font-size: 1.2em;
  font-weight: 700;

}

label-valor {
  font-size: 2.3em;
  font-weight: 700;
  color: red;
}

.btn-login {
  width: 100%;
  padding: 1em 0px;
  margin-top: 1em;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.5em;
  color: var(--verdeClaro);
  background: var(--brancoEscuro);
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px var(--preto);
}

@media screen and (max-width: 767px) {
  main {
    flex-direction: column;
  }

  #propaganda {
    display: none;
  }

  #propaganda h2 {
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  #formulario {
    width: 100vw;
  }

  .card {
    height: 60vh;
    width: 85vw;
    margin-top: 0%;
  }

  .form-list {
    display: flex;
    flex-direction: column;
  }

  .btn-submit {
    width: 30vw;
    margin-left: 18vw;
  }

  #valor {
    width: 85vw;
  }
}